- title = 'Foods'
doctype 5
html
  include _head
  body
    table
      tr
        th Food
        th Type
        th Cals/100g
        th Weight in grams
        th Ingredients
        th
      each food in foods
        form(action="/food", method="post")
          tr
            td
              input(type="text", name="food_name", value="#{food.name}")
            td
              select(name="food_type")
                if food.type === 'ingredient'
                  option(selected) ingredient
                  option dish
                else
                  option ingredient
                  option(selected) dish
            td
              if food.type === 'ingredient'
                input(type="text", name="food_cals", value="#{food.cals}")
              else
                | #{help.number(2, food.cals)}
            td
              if food.type === 'dish'
                input(type="text", name="food_grams", value="#{food.grams || ''}")
            td
              if food.type === 'dish'
                a(href="#{help.foodUrl(food)}") ingredients
            td
              button(name="update", value="#{food.id}") Save
              button(name="delete", value="#{food.id}") X
      form(action="/food", method="post")
        tr
          td
            input(type="text", name="food_name")
          td
            select(name="food_type")
              option ingredient
              option dish
          td
            input(type="text", name="food_cals")
          td
            input(type="text", name="food_grams")
          td
            button(name="create", value="1") Save

