doctype 5
html
	head
		title #{food.name} Ingredients
	body
		h1 Ingredients in #{food.name}

		table
			tr
				th Name
				th Grams
				th 
			each ingred in ingredients
				tr
					td #{ingred.name}
					td #{ingred.grams}
					td 
						form(action="#{food_url}", method="post")
							button(name="delete", value="#{ingred.id}") X
			form(action="#{food_url}", method="post")
				tr
					td
						input(type="text", name="ing_name")
					td
						input(type="text", name="grams")
					td
						button(name="create", value="1") Save

