extends layout

block vars
  - var title = food.name + 'Ingredients'

block append head
  link(rel="stylesheet", type="text/css", href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css")
  style
    td:nth-child(2), td:nth-child(2) input {
      width: 4em;
    }

block body
  body
    h1 Ingredients in #{food.name}

    form(action="#{food_url}", method="post")
      table
        tr
          th Name
          th Grams
          th 
        each ingred in ingredients
          tr
            td #{ingred.name}
            td #{ingred.grams}
            td 
              button(name="delete", value="#{ingred.id}") X
        tr
          td
            input(type="text", name="ing_name", id="ing_name")
          td
            input(type="text", name="grams")
          td
            button(name="create", value="1") Save

block append foot
  script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
  script
    jQuery(function($) {
      $('#ing_name').autocomplete({
        source: '/foodlist',
        minLength: 1
      });
    });
