extends layout

block vars
  - var title = plan.name

block append head
  style
    h3 > button {
      margin-left: 1em;
    }

block body
  form(action="#{help.planUrl(plan)}", method="post")
    h1
      input(name="plan_name", value="#{plan.name}")
      button(name="rename", value="#{plan.id}") Rename

  h2 #{plan.cals.toFixed(0)} Calories

  div(id="plan_meals")
    each pm, ord in plan.p_meals
      div
        form(action="#{help.planUrl(plan)}", method="post")
          h3(class="plan_title")
            span(class="handle") +
            a(href="#{help.mealUrl(pm.meal)}") #{pm.meal.name}
            button(class="blinds", type="button") v
            | &nbsp;- #{pm.meal.cals.toFixed(0)} calories
            button(name="removeMeal", value="#{pm.id}") Remove

        form(class="food_in_meal", action="#{help.mealUrl(pm.meal)}", method="post")
          table
            tr
              th Name
              th Grams
              th
                input(type="hidden", name="ordinals", value="#{pm.ordinal}")
            each m_food in pm.meal.foods
              tr
                td #{m_food.food.name}
                td #{m_food.food.grams}
                td


  form(action="#{help.planUrl(plan)}", method="post")
    input(type="hidden", name="ord", value=plan.p_meals.length + 1)
    select(name="meal_name", id="meal_name")
      each meal in all_meals
        option #{meal.name}
    button(name="addMeal", value="1") Add meal

block append foot
  script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
  script
    jQuery(function($) {
      $('#plan_meals').sortable({
        items: '> div',
        handle: '.handle',
        update: function(ev, ui) {
          var
            ordinals = $('#plan_meals input[name="ordinals"]'),
            ords = $.map(ordinals, function(input) {
              return input.value;
            });

          $.each(ordinals, function(i, input) {
            input.value = i + 1;
          });
          $.post(document.url, { ords: ords, reorder: true });
        }
      });
      $('.food_in_meal').hide();
      $('h3.plan_title .blinds').click(function() {
        $(this).up('form').next('.food_in_meal').toggle();
      });
    });
