extends layout

block vars
  - var title = week.name

block append head
  style
    h3 > button {
      margin-left: 1em;
    }

block body
  form(action="#{help.weekUrl(week)}", method="post")
    h1
      input(name="week_name", value="#{week.name}")
      button(name="rename", value="#{week.id}") Rename

    div(id="week_plans")
      - days = ['Sun','Mon','Tue','Wed', 'Thu','Fri','Sat']
      each day, i in days
        - wp = week_plans[i]
        - ord = wp && wp.ord || i
        div
          label #{day}:
            select(name='plans')
              each plan in all_plans
                option(value=plan.id, selected=plan.id == (wp && wp.plan_id))= plan.name

    button(name="update", value="1") Update week

  table(id="ingredients")
    thead
      tr
        th Food
        th Grams/wk
    tbody
      each ing in ingredients
        tr
          td= ing.food.name
          td= ing.grams.toFixed(0)

block append foot
  script(src="/assets/jquery.tinysort.js")
  script
    jQuery(function($) {
      $('#ingredients th').first().click(function() {
        var table = $(this).up('table');
        var trs = table.find('tr');

        if (table.data('sort_asc')) {
          table.data('sort_asc', false);
          trs.tsort('td:eq(0)', { order: 'desc' });
        } else {
          table.data('sort_asc', true);
          trs.tsort('td:eq(0)');
        }
      });
    });
